body, html {
  height: 100%;
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.parallax {
  background-image: url('b3.jpg');
  height: 99%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#navbar {
  overflow: hidden;
  background-color: TEAL;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: MEDIUMAQUAMARINE;
  color: black;
}

#navbar a.active {
  background-color: #ffcc00;
  color: white;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: teal;
  min-width: 120px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover {
  background-color: MEDIUMAQUAMARINE;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer {
  padding: 20px;
  text-align: center;
  font-size: 18px;
  background-color: #1a1313;
  color: white;
}

.button {
  background-color: #2d7a61;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=text] {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 55%;
  background-color: maroon;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size:16px;
}

input[type=submit]:hover {
  background-color: sienna;
}

.contactform {
  width: 60%;
  border-radius: 15px;
  padding: 20px;
  text-align:center;
  font-size:17px;
  position:relative;
  left:19%;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
  position: relative;
  left: 10%;
  font-family: serif;
  font-size: 30px;
  word-wrap: break-word;
}

.firstcharacter {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.section{
  background-image:url(mar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
